<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cdc.mapper.ReviewBoardMapper">

	<select id="getList" resultType="com.cdc.domain.ReviewVO">
	<![CDATA[
	select * from 
	(select /*+ INDEX_DESC(chotten_review)*/rownum rn, rvno, title, content, writer, regdate, updatedate, hits 
	 from chotten_review where mno= #{pageInfo.mno} and reviewlike = #{reviewlike} and rownum <= #{pageInfo.page} * #{pageInfo.amount}) 
	where rn > (#{pageInfo.page}-1) * #{pageInfo.amount}
	]]>
	</select>
	
	<select id="count" resultType="java.lang.Integer">
	select count(*) from chotten_review where reviewlike = #{reviewlike} and mno = #{mno}
	</select>
	
	<insert id="register">
	
		<selectKey keyProperty="rvno" resultType="java.lang.Long" order="BEFORE">
			select REVIEW_SEQ.nextval from dual
		</selectKey>
	
	insert into chotten_review (rvno, title, content, writer, mno, reviewlike)  
	values (#{rvno}, #{title}, #{content}, #{writer}, #{mno}, #{reviewlike})
	</insert>
	
	<select id="getReview" resultType="com.cdc.domain.ReviewVO">
	select * from chotten_review where rvno = #{rvno}
	</select>
	
	<update id="modify">
	update chotten_review set content = #{content}, updatedate = sysdate where rvno = #{rvno}
	</update>
	
	<delete id='delete'>
	delete from chotten_review where rvno = #{rvno}
	</delete>
	

	
	<insert id="upload">
	insert all 
	<foreach collection="imgList" item="item">
	into CHOTTEN_REVIEW_IMG (uuid,fileName, uploadPath, rvno)	
	values  (#{item.uuid}, #{item.fileName},#{item.uploadPath} ,#{item.rvno})
	</foreach>
	select * from dual
	</insert>
	
	<delete id="deleteImg">
	delete CHOTTEN_REVIEW_IMG where rvno = #{rvno}
	</delete>
	
	<select id="cleanList" resultType="com.cdc.domain.ReviewImgDTO">
	select uuid, uploadpath, filename, rvno from chotten_review_img where uploadPath = concat('D:/upload/', to_char(sysdate-#{num},'yyyy/MM/dd'))
	</select>
</mapper>